body {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;

}
a {
  text-decoration: none;
}

.top-menu {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #999999;

}

.top-nav-list {

  margin: 5px;
  display: flex;
  font-size: 11px;
}

.top-nav-list-item {
  display: inline-block;
  text-transform: uppercase;
  color: #999;
  margin: 5px;
  padding-right: 5px;
  border-right: 1px solid #999;
  a {
    color: #999999;
  }
  span {
    color: red;
  }
}

.search {
  width: 100px;
  height: 10px;
  border: none;
  padding: 0;
  margin: 5px;
  display: inline-block;

}

.search-form {
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  padding: 1px 11px;
  margin: 5px;
}

.search-button {

  border: none;
  background-color: white;
  background-image: url("../img/search.png");
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.kia-logo {
  width: 75px;
  height: 40px;
}

.main-nav {
  display: flex;
  justify-content: center  ;
  align-items: center;
}

.main-nav-list {
  display: flex;
  justify-content: center;

}

.main-nav-list-item {
  margin: 5px;
  font-size: 16px;
  padding: 0 10px;
}

.phone {
  font-size: 17px;
  padding: 3px 8px 3px 25px;
  background-color: #bb162b;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  a {
    color: #fff;
  }

}

.stonic-menu {
  background-color: #bb162b;
  display: flex;
  justify-content: center;
  height: 49px;
}

.stonic-logo {
  width: 190px;
}

.stonic-nav-list {
  display: flex;
}

.stonic-nav-list-item {
  margin: 5px;
  color: #dd8b95;
  padding: 0 5px;
}

.stonic-nav-list-item-active {
  color: #fff;
}

.user-actions {
  background-image: url("../img/car-nav.jpg");
  background-size: cover;
  background-position: center;
}

