@font-face {
  font-family: 'KIA';
  src: url("../fonts/KIAB.eot");
  src: local("KIAB"), url("../fonts/KIAB.eot?#iefix") format("embedded-opentype"), url("../fonts/KIAB.woff") format("woff"), url("../fonts/KIAB.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'KIA';
  src: url("../fonts/KIAL.eot");
  src: local("KIAL"), url("../fonts/KIAL.eot?#iefix") format("embedded-opentype"), url("../fonts/KIAL.woff") format("woff"), url("../fonts/KIAL.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'KIA';
  src: url("../fonts/KIAM.eot");
  src: local("KIAM"), url("../fonts/KIAM.eot?#iefix") format("embedded-opentype"), url("../fonts/KIAM.woff") format("woff"), url("../fonts/KIAM.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'KIA'; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

h2 {
  font-size: 40px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1000;
  font-weight: bold; }

.top-nav-list {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px; }

.top-nav-list-item {
  display: inline-block;
  text-transform: uppercase;
  color: #999;
  margin: 5px;
  padding-right: 5px;
  border-right: 1px solid #999; }
  .top-nav-list-item a {
    color: #999999; }
  .top-nav-list-item span {
    color: #bb162b; }

.search {
  width: 100px;
  height: 10px;
  border: none;
  padding: 0;
  margin: 5px;
  display: inline-block; }

.search-form {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: inline-block;
  padding: 1px 11px;
  margin: 5px; }

.search-button {
  border: none;
  background-color: white;
  background-image: url("../img/search.png");
  width: 12px;
  height: 12px;
  display: inline-block;
  background-size: cover;
  padding: 0;
  margin: 0; }

.kia-logo {
  width: 75px;
  height: 40px; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1000; }

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.main-nav-list-item {
  margin: 5px;
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold; }
  .main-nav-list-item a {
    color: #000; }

.phone {
  font-size: 17px;
  padding: 3px 8px 3px 25px;
  background-color: #bb162b;
  display: inline-block;
  border-radius: 10px; }
  .phone a {
    color: #fff; }

.stonic-menu {
  background-color: #bb162b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1000; }

.stonic-logo {
  height: 49px;
  width: 190px; }

.stonic-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.stonic-nav-list-item {
  padding: 0; }
  .stonic-nav-list-item a {
    padding: 13px 15px;
    color: #dd8b95; }

.stonic-nav-list-item-active a {
  border-bottom: 4px solid #fff;
  color: #fff; }

.user-actions {
  background-image: url("../img/car2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 30px;
  border-right: 1px solid #920510;
  border-left: 1px solid #920510; }

.main-info-slider-first {
  position: relative; }

.main-info-img {
  width: 100%;
  z-index: -2; }

.main-info-heading {
  width: 50%;
  font-size: 40px;
  color: #f9f9f9;
  position: absolute;
  top: 10%;
  left: 25%;
  text-shadow: black 0 0 5px;
  font-weight: bold; }

.main-info-slogan {
  width: 50%;
  color: #f9f9f9;
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 16px;
  text-shadow: black 0 0 5px;
  font-weight: bold; }

.main-buton-left {
  position: absolute;
  bottom: 0.5%;
  left: 0;
  color: #fff;
  padding: 66px 20px 15px 20px;
  background-color: #0e0b0b9c; }
  .main-buton-left span::before {
    position: absolute;
    top: 20%;
    left: 45%;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white; }

.main-buton-right {
  position: absolute;
  bottom: 0.5%;
  right: 0;
  color: #fff;
  padding: 66px 20px 15px 20px;
  background-color: #0e0b0b9c; }
  .main-buton-right span::before {
    position: absolute;
    top: 20%;
    left: 45%;
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white; }

.slider-radiobuttons {
  position: absolute;
  bottom: 5%;
  left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider-radiobutton-first a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../img/radiobutton-unchecked-md.png");
  background-size: cover;
  margin: 3px; }

.slider-radiobutton-second a {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../img/radiobutton-unchecked-md.png");
  background-size: cover;
  margin: 3px; }

.characteristics {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white; }
  .characteristics span {
    display: block; }

.characteristics-item {
  position: relative;
  width: 240px;
  padding: 60px 30px 10px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-collapse: collapse; }
  .characteristics-item p {
    margin: 0; }
  .characteristics-item span {
    font-weight: bold;
    font-size: 20px; }

.characteristics-even {
  background-color: #f7f7f7; }

.characteristics-odd {
  background-color: #efefef; }

.characteristics-item-first::before {
  content: " ";
  width: 40px;
  height: 40px;
  background-image: url("../img/123.png");
  background-size: cover;
  position: absolute;
  top: 6%;
  left: 45%; }

.characteristics-item-second::before {
  content: " ";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon_kv_spec_3_ua.png");
  background-size: cover;
  position: absolute;
  top: 6%;
  left: 45%; }

.characteristics-item-third::before {
  content: " ";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon_kv_spec_3.png");
  background-size: cover;
  position: absolute;
  top: 6%;
  left: 45%; }

.characteristics-item-fourth::before {
  content: " ";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon_kv_spec_5.png");
  background-size: cover;
  position: absolute;
  top: 6%;
  left: 45%; }

.exterier-main {
  color: #fff;
  position: relative;
  text-shadow: black 0 0 5px; }
  .exterier-main h2 {
    position: absolute;
    top: 3%;
    left: 25%; }
  .exterier-main b {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%; }
  .exterier-main p {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%; }

.exterier-main-img {
  width: 100%; }

.exterier-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.exterier-galery-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  color: #fff;
  text-shadow: black 0 0 5px;
  width: 33.2%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-collapse: collapse; }
  .exterier-galery-item img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .exterier-galery-item h3 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 80%; }

.exterier-galery-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.exterier-slider {
  margin: 0;
  padding: 0; }

.interier-main {
  color: #fff;
  position: relative;
  text-shadow: black 0 0 5px; }
  .interier-main h2 {
    position: absolute;
    top: 3%;
    left: 25%; }
  .interier-main b {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%; }
  .interier-main p {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%; }

.interier-main-img {
  width: 100%; }

.interier-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.interier-galery-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  color: #fff;
  text-shadow: black 0 0 5px;
  width: 24%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-collapse: collapse; }
  .interier-galery-item img {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s linear;
    transition: -webkit-transform 0.3s linear;
    transition: transform 0.3s linear;
    transition: transform 0.3s linear, -webkit-transform 0.3s linear; }
  .interier-galery-item h3 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 80%; }

.interier-galery-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.interier-slider {
  margin: 0;
  padding: 0; }
